/******************************************
RESET RULES
******************************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Encode Sans', sans-serif;
    scroll-behavior: smooth;
}


/******************************************
DEBUG RULES
******************************************/


.debug-box {
    text-align: center;
    height: 80px;
    background-color: var(--primary-color-light);
}

.debug-box2 {
    text-align: center;
    height: 80px;
    background-color: var(--secondary-color-light);
}

.border-debug{
    border: 1px dashed red;
}
/******************************************
UTILITY RULES
******************************************/

.rounded-corner{
    border-radius: 25px;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.padding-none{
    padding: 0;
}

/*var palette colori*/
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #bcb5ee;
    --tertiary-color: #333333;
    --white: #fff;
    --black: #101010;
    --yellow: #fdc15f;
}



 /*********************/
/*text palette colori*/

.white-text{
    color:var(--white);
}

.black-text{
    color:var(--black);
}

.blue-text{
    color:var(--primary-color);
}

.purple-text{
    color:var(--secondary-color);
}




 /**************/
/*Button Rules*/
.btn{
    border-radius: 50px;
}

.btn-small{
    padding: 5px 15px;
}

.btn-long{
    padding: 7px 55px;
}

.btn-big{
    padding: 20px 70px;
}

.btn-circle{
    padding: 20px 23px;
    border-radius: 50%;
}

.btn-white{
    background-color: var(--white);
}

.btn-blue{
    background-color: var(--primary-color);
}

.btn-purple{
    background-color: var(--secondary-color);
}


/******************************************
COMMON RULES
******************************************/

body{
    position: relative;
    line-height: 2rem;
}

.container{
    margin: auto;
    padding: 20px;
}

a {
    text-decoration: none;
}

p{
    font-size: 20px;
    padding: 0 15px;
}


/*****HEADER RULES******/

#header-intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    background-color: var(--primary-color);
}

#header-intro .container{
    padding: 20px 35px;
}

#header-intro i{
    font-size: 25px;
}

#header-intro ul{
    display: none;
}



/*****MAIN RULES******/

main{
    padding-top:100px;
    width: 100%;
}

section{
    scroll-margin-top: 80px;
}


/*tools*/
#tools .card{
    margin: 15px 0;
    background-color: var(--primary-color-light);
}

#tools img{
    display: block;
    width: 80%;
    margin: 0 auto;
}

#tools .card .col > div, #tools .card .col > img{
    padding: 20px 20px 0 20px;
}

#tools .card:first-child > .col:last-child{
    padding-bottom: 0;
}

#tools .card > div{
    padding: 40px;
}

#tools .icon > i{
    font-size: 85px;
}

#tools .card .padding-none{
    padding: 0;
}
/*planning*/
#planning {
    background-color: var(--secondary-color);
}

#planning .col-1, #planning .col-2{
    margin: 10px 0;
}

#img-planning-1{
    width: 100%;
}

#img-planning-2{
    width: 100%;
}

#planning .card{
    background-color: var(--white);
    padding: 15px;
}

#planning .btn i{
    font-size: 20px;
}

#planning .col-1 img, #planning .col-2{
    padding:30px;
}

#planning .col-1{
    padding: 20px 0;
}

#planning .col-1 > div, #planning .col-2 .card > div{
    padding: 20px 0;
}

/*testimonials*/
#testimonials .container > div{
    margin: 10px 0;
}

#testimonials .wrapper{
    padding: 15px;
}

#testimonials .wrapper > div{
    padding: 15px;
}

#testimonials .columns{
    padding: 30px;
    background-color: var(--secondary-color);
}

#testimonials .col-right > div {
    padding: 15px 0;
}

#testimonials .col-left img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*benefits*/
#benefits{
    background-color: var(--secondary-color);
}

#benefits .container > div{
    margin: 20px 0;
}

#benefits .card{
    margin: 20px 0;
}

/*about us*/
#about-us .col-left > div,#about-us .col-right > div{
    margin-top: 20px;
}

/*get started*/
#get-started{
    background-color: var(--secondary-color);
}

#get-started .container{
    margin:20px 0;
}
#get-started div{
    margin-top: 20px;
}



/*Footer*/
footer{
    background-color: var(--tertiary-color);
}

footer div{
    padding: 15px;
}



/******************************************
RESPONSIVE RULES
******************************************/

/******
TABLET
******/
@media screen and (min-width: 780px) {
    .container{
        max-width: 760px;  
    
    }

    #tools .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #tools .card{
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }
   

    #tools .card:first-child{
        width: calc(100% / 3 * 2 - 30px);
    }

    #planning .col-1 h2{
        font-size: 60px;
        padding: 20px 0;
    }

    #testimonials .columns{
        display: flex;
    }

    #testimonials .col-right{
        flex-grow: 1;
    }

    #testimonials .col-left{
        min-width: calc(100% / 3);
    }

    #benefits .cards{
        display: flex;
        flex-wrap: wrap;
    }

    #benefits .card{
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    #benefits .card-box{
        margin: 0 -20px;
    }

    #about-us .columns{
        display: flex;
    }

    #about-us .col-left{
        flex-grow: 1;
    }

    #about-us .col-right{
        min-width: calc(100% / 3) ;
    }
}


/******
DESKTOP
******/


@media screen and (min-width: 1200px) {
    
    .container{
        max-width: 1170px;
    }

    #header-intro i{
        display: none;
    }

    #header-intro ul{
        display: block;
    }
    #header-intro ul li{
        margin: 0 0 0 25px;
        display: inline-block;
        text-decoration: none;

    }
    #header-intro ul a{
        font-size: 18px;
    }

    #tools .card:first-child{
        display: flex;
    }

    #tools .col, #planning .col{
        width: 50%;
    }

    #tools .card:first-child > .col:last-child{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


    #planning .columns {
        display: flex; 
        align-items: flex-end;       
        gap: 20px;
    }

    #benefits .card{
        width: calc(100% / 3 - 20px)
       }
 }