/******************************************
GLOBAL RULES
******************************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/******************************************
DEBUG RULES
******************************************/


.debug-box {
    height: 80px;
    background-color: var(--primary-color-light);
}


/******************************************
 STYLE RULES
******************************************/
:root {
    --primary-color: rgb(0, 132, 253);
    --primary-color-light: rgb(181, 221, 255);
}

body{
    position: relative;
}

main{
    padding-top:100px;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

#header-intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.container{
    min-width: 380px;
    margin: auto;
    background-color: var(--primary-color);
}


/******************************************
RESPONSIVE RULES
******************************************/


@media screen and (min-width: 780px) {
   .container{
    max-width: 760px;    
   }
}

@media screen and (min-width: 1200px) {
    .container{
     max-width: 95%;    
    }
 }