/******************************************
GLOBAL RULES
******************************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/******************************************
DEBUG RULES
******************************************/


.debug-box {
    text-align: center;
    height: 80px;
    background-color: var(--primary-color-light);
}

.debug-box2 {
    text-align: center;
    height: 80px;
    background-color: var(--secondary-color-light);
}

.border-debug{
    border: 1px dashed red;
}
/******************************************
STYLE RULES
******************************************/


/*var palette colori*/
:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #bcb5ee;
    --tertiary-color: #333333;
}
/*************************/

/*text palette colori*/
.white-text{
    color:#ffffff;
}
/*************************/


body{
    position: relative;
}

main{
    padding-top:100px;
    width: 100%;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

#header-intro{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: var(--primary-color);
}

#header-intro i{
    font-size: 25px;
}


.container{
    margin: auto;
    padding: 20px;
}

#tools .card{
    margin: 15px 0;
}

#planning {
    background-color: var(--secondary-color);
}

#planning .col{
    margin: 10px 0;
}

#testimonials .container > div{
    margin: 10px 0;
}

#benefits{
    background-color: var(--secondary-color);
}

#benefits .container > div{
    margin: 20px 0;
}

#benefits .card{
    margin: 20px 0;
}

.col-left > div, .col-right > div{
    margin-top: 20px;
}

#get-started{
    background-color: var(--secondary-color);
    text-align: center;
}

#get-started .container{
    margin:20px 0;
}
#get-started div{
    margin-top: 20px;
}

footer{
    background-color: var(--tertiary-color);
    text-align: center;
}

footer div{
    padding: 15px;
}
/******************************************
RESPONSIVE RULES
******************************************/

/******
TABLET
******/
@media screen and (min-width: 780px) {
   .container{
        max-width: 760px;  
    
   }

  #tools .cards{
        display: flex;
        flex-wrap: wrap;
   }

   #tools .card{
        width: calc(100% / 3 - 30px);
        margin: 15px;
    }
   

   #tools .card:first-child{
        width: calc(100% / 3 * 2 - 30px);
   }

   #testimonials .columns{
    display: flex;
   }

   #testimonials .col-right{
    flex-grow: 1;
   }

   #testimonials .col-left{
    min-width: calc(100% / 3);
   }

   #benefits .cards{
    display: flex;
    flex-wrap: wrap;
   }

   #benefits .card{
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
   }

   #benefits .card-box{
    margin: 0 -20px;
   }

   #about-us .columns{
    display: flex;
   }

   #about-us .col-left{
    flex-grow: 1;
   }

   #about-us .col-right{
    min-width: calc(100% / 3) ;
   }
}


/******
DESKTOP
******/


@media screen and (min-width: 1200px) {
    .container{
        max-width: 95%;   
    }

    #tools .card:first-child{
        display: flex;
    }

    #tools .col, #planning .col{
        width: 50%;
    }

    #planning .columns {
        display: flex; 
        align-items: flex-end;       
    }

    #benefits .card{
        width: calc(100% / 3 - 20px)
       }
 }